# Name: RainbowSTORM

# Description:

# RainbowSTORM:
# An open-source, user-friendly ImageJ/Fiji plugin for end-to-end spectroscopic analysis and visualization of sSMLM data

# Author: Janel Davis
# Version: 1.0

Plugins>RainbowSTORM, "sSMLM Calibration", rstorm.Calibration
Plugins>RainbowSTORM, "sSMLM Analysis", rstorm.Analysis
Plugins>RainbowSTORM, "Import sSMLM Results", rstorm.ImportsSMLM
Plugins>RainbowSTORM, "-", -
Plugins>RainbowSTORM, "RainbowSTORM Help", rstorm.RS_Help